<html>
    <head></head>
    <body>
        <form method="post">
            <table>
                <tr>
                    <td>Name</td>
                    <td>
                        <input type="text" name="name">
                    </td>
                </tr>
                <tr>
                    <td>Duration</td>
                    <td>
                        <input type="time" name="duration">
                    </td>
                </tr>
                <tr>
                    <td>Author</td>
                    <td>
                        <select name="authors">
                            <option> ---- </option>
                            {% for author in authors %}
                                <option value="{{ author.id }}">{{ author.name }} {% if author.pseudonim %} ({{ author.pseudonim }}) {% endif %}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit">Add</button>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
